:root {
  --font-Light: "Manrope-Light";
  --font-Medium: "Manrope-Medium";
  --font-SemiBold: "Manrope-SemiBold";
  --bg: #fff;
  --bg-color: #f8f8f8;
  --color: #c11f36;
  --color-text: #000;
  --line: #e5e5e5;
  --color-rgba: rgba(29, 29, 27, 0.5);
}
